$navbar-height: 50px;
$navbar-bg: #cbd5e1;
$navbar-item-border: #475569;

header {
  .nav-bar {
    height: $navbar-height;
    width: 100%;
    background-color: $navbar-bg;

    .nav-container {
      height: $navbar-height;
      width: 100%;
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    nav {
      display: flex;

      * {
        height: $navbar-height;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 0;

        &:before {
          content: "";
          display: block;
        }

        &:after {
          content: "";
          display: block;
          transition: all 150ms ease-in-out;
        }

        &:hover {
          &:after {
            content: "";
            margin-top: -3px;
            border-bottom: 3px solid $navbar-item-border;
          }
        }
      }

      :not(:last-child) {
        margin-right: 15px;
      }
    }

    @media (max-width: 768px) {
      nav {
        display: none;
      }
    }

    @media (min-width: 1024px) {
      .nav-container {
        width: 960px;
        margin: 0 auto;
      }
    }
  }

  .mobile-nav-pane {
    width: 100%;
    height: calc(100vh - $navbar-height);
    background: $navbar-bg;
    overflow: auto;

    &__container {
      display: flex;
      flex-direction: column;
      width: 200px;
      margin: 0 auto;

      * {
        padding: 10px 10px;
        border-bottom: 1px solid #94a3b8;
        transition: border-bottom-color 150ms ease-in-out, padding-left 150ms ease-in-out;

        &:hover {
          border-bottom: 1px solid $navbar-item-border;
          padding-left: 15px;
        }
      }
    }
  }

  .mobile-hamburger {
    position: relative;
    height: $navbar-height;
    width: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: flex-end;

    @media (min-width: 768px) {
      display: none;
    }

    * {
      background: black;
      display: flex;
      height: 2px;
      transition: all 150ms ease-in-out;
    }

    .top {
      position: absolute;
      top: 18px;
      width: 20px;
    }

    .mid {
      position: absolute;
      width: 15px;
      transition-delay: 50ms;
    }

    .bot {
      position: absolute;
      bottom: 18px;
      width: 20px;
    }

    &:hover {
      * {
        background: rgb(107 114 128);
      }
    }

    &[aria-expanded="true"] {
      margin-right: 15px;

      .top {
        position: absolute;
        top: 24px;
        transform: rotate(-45deg);
      }

      .mid {
        width: 0;
      }

      .bot {
        position: absolute;
        bottom: 24px;
        transform: rotate(45deg);
      }
    }
  }
}
